
$primary-color: #FF5B03;
$secondary-color: #CCC9F0;

$color-white: #FFFFFF;
$color-black: #000000;

$text-color: #000000;
$surface-primary-color: #FFFFFF;
$surface-secondary-color: #FAFAFA;

$font-family: 'Nunito', sans-serif;
$base-font-size: 16px;

/** BlackPink Theme */
$bp-primary-color: #FF94E0;
$bp-secondary-color: #FFC3EE;

$bp-surface-primary-color: #1A1A1A;

$bp-text-color: #CFCFCF;

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --primary-color-rgb: 255, 91, 3;

  --surface-primary-color: #{$surface-primary-color};
  --surface-secondary-color: #{$surface-secondary-color};

  --text-color: #{$text-color};

  body.blackpink-theme {
    --primary-color: #{$bp-primary-color};
    --secondary-color: #{$bp-secondary-color};
    --primary-color-rgb: 255, 148, 224;

    --surface-primary-color: #{$bp-surface-primary-color};

    --text-color: #{$bp-text-color};
  }
}

$font-weights: (
  "extra-light": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
  "black": 900
);

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3
);

$media-breakpoints: (
  max: (xs: 576px,
    sm: 786px,
    md: 992px,
    lg: 1200px),
  min: (xs: 0,
    sm: 576px,
    md: 786px,
    lg: 992px,
    xl: 1200px)
);